<h1><%= current_user.name %>'s Runs </h1> 
</br>
</br>
<%= link_to "Fetch Runs", fetch_runs_path, method: :post %>
</br>
</br>
</br>

<ol>
<% @activities.each do |activity| %>
  <li>
    <span><%= activity.activity_type %></span>
    <span><%= activity.distance %></span>
    <span><%= activity.duration %></span>
    <span><%= activity.activity_date %></span>
    <span><%= link_to "Run Detail", run_detail_path(activity.activity_id) %></span>
  </li>
<% end %>



